<aside>
	<div class="panel radius">
		<h3>IBAWolf</h3>
		<p> Thanks for visiting my site.  I really appreciate your attention.  </p>
		<h4>IBAWolf</h4>
	</div>

	<div>
		<a href="https://www.ruby-lang.org/" target="blank">
			<img class="b30" src="/images/Rubylang.png" alt="Ruby computer language website">
		</a>
	<div>

	<div>
		<a href="https://www.ansible.com/" target="blank">
			<img class="b30" src="/images/ansible.png" alt="Ansible computer configuration management website">
		</a>
	<div>

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			Your Ad Here! <a href="http://placekitten.com/"></a>
		</p>
	</div>
</aside>